.item_{
    width: calc(50% - 6px);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    color: darkcyan;
    border: 4px solid salmon;
}

.item_:nth-child(odd){
    justify-self: start;
    justify-content: end;
   
}

.item_:nth-child(odd)>.content{
    margin-right: 16px;
}

.item_:nth-child(even){
    justify-self: end;
    justify-content: start;
}

.item_:nth-child(even)>.content{
    margin-left: 16px;
}