.item_ {
    width: calc(50% - 2px);
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    border: 0;
}

.item_:nth-child(odd) {
    border-right: 4px solid salmon;
    justify-self: start;
    justify-content: end;
    background-image: url("/images/bracket2r.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc(100%);
}

.item_:nth-child(odd)>.content {
    margin-right: 16px;
}

.item_:nth-child(even) {
    border-left: 4px solid salmon;
    justify-self: end;
    justify-content: start;
    background-image: url("/images/bracket2.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.item_:nth-child(even)>.content {
    margin-left: 16px;
}

.item_ a {
    color: rgb(0, 68, 102);
}

.item_ a:visited {
    color: rgb(34, 68, 0);
}

.item_>.content {
    background-color: rgb(255, 224, 170);
    width: 33vw;
}