$colors :("_memred":#f03030,
    "_red":#ff4040,
    "_memgreen" : #308030,
    "_green":#80ff40,
    "_green2":#80b040,
    "_blue":#4080ff,
    "_blue2":#4080b0,
    "_violet":#f040f0,
    "_violet2":#b04080,
    "_black":black,
    "_white":white,
    "_litegray":#808080,
    "_darkgray":#404040,
    "_neonred":#ff2020,
    "_neongreen":#40ff40,
    "_neonblue":#4040ff,
    "_darkred":#802020,
    "_darkgreen":#208020,
    "_darkblue":#202080,
    "_navy": #000080,
    "_blend_red": #484032,
    "_blend_green": #324840,
    "_blend_blue": #324048,
    "_navbar_blue":#2c3e50,
    "_memgrey" : #303030,
    "_yellow" : #f0f030,
    "_orange":#b63,
    "_purple" : #f0f,
    "_pink" : #f69,
    "_lightskyblue" : #80e0ff);

@each $k,
$v in $colors {
    .color#{$k} {
        color: $v
    }
}

@each $k,
$v in $colors {
    .bg#{$k} {
        background-color: $v
    }
}

@each $k,
$v in $colors {
    .bo#{$k} {
        border-color: $v;
    }
}