.text-center {
  text-align: center;
}

.no-decor {
  text-decoration: none;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

// flex utilities
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}

.space-between {
  justify-content: space-between;
}

.space-even {
  justify-content: space-evenly;
}

.centered {
  justify-content: center;
}

.inline {
  display: inline;
}

// color utilities
.bg-transparent {
  background: transparent;
}

.bg-blend {
  background-color: transparent;
}

div.override-none {
  display: none !important;
}

.stretch {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.blend_pointer {
  background-color: transparent;
  color: white;
  font-weight: 600;
  word-spacing: 0.25rem;
  padding: 0.3rem;
  border: none;
  cursor: pointer;
}