.zero-border {
  border: 0;
}

.text-center {
  text-align: center;
}

.no-decor {
  text-decoration: none;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}

.space-between {
  justify-content: space-between;
}

.space-even {
  justify-content: space-evenly;
}

.centered {
  justify-content: center;
}

.inline {
  display: inline;
}

.bg-transparent {
  background: transparent;
}

.bg-blend {
  background-color: transparent;
}

.black {
  color: black;
}

div.override-none {
  display: none !important;
}

.stretch {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.bo-solid {
  border-style: solid;
}

.color_memred {
  color: #f03030;
}

.color_red {
  color: #ff4040;
}

.color_memgreen {
  color: #308030;
}

.color_green {
  color: #80ff40;
}

.color_green2 {
  color: #80b040;
}

.color_blue {
  color: #4080ff;
}

.color_blue2 {
  color: #4080b0;
}

.color_violet {
  color: #f040f0;
}

.color_violet2 {
  color: #b04080;
}

.color_black {
  color: black;
}

.color_white {
  color: white;
}

.color_litegray {
  color: #808080;
}

.color_darkgray {
  color: #404040;
}

.color_neonred {
  color: #ff2020;
}

.color_neongreen {
  color: #40ff40;
}

.color_neonblue {
  color: #4040ff;
}

.color_darkred {
  color: #802020;
}

.color_darkgreen {
  color: #208020;
}

.color_darkblue {
  color: #202080;
}

.color_navy {
  color: #000080;
}

.color_blend_red {
  color: #484032;
}

.color_blend_green {
  color: #324840;
}

.color_blend_blue {
  color: #324048;
}

.color_navbar_blue {
  color: #2c3e50;
}

.color_memgrey {
  color: #303030;
}

.color_yellow {
  color: #f0f030;
}

.color_orange {
  color: #b63;
}

.color_purple {
  color: #f0f;
}

.color_pink {
  color: #f69;
}

.color_lightskyblue {
  color: #80e0ff;
}

.bg_memred {
  background-color: #f03030;
}

.bg_red {
  background-color: #ff4040;
}

.bg_memgreen {
  background-color: #308030;
}

.bg_green {
  background-color: #80ff40;
}

.bg_green2 {
  background-color: #80b040;
}

.bg_blue {
  background-color: #4080ff;
}

.bg_blue2 {
  background-color: #4080b0;
}

.bg_violet {
  background-color: #f040f0;
}

.bg_violet2 {
  background-color: #b04080;
}

.bg_black {
  background-color: black;
}

.bg_white {
  background-color: white;
}

.bg_litegray {
  background-color: #808080;
}

.bg_darkgray {
  background-color: #404040;
}

.bg_neonred {
  background-color: #ff2020;
}

.bg_neongreen {
  background-color: #40ff40;
}

.bg_neonblue {
  background-color: #4040ff;
}

.bg_darkred {
  background-color: #802020;
}

.bg_darkgreen {
  background-color: #208020;
}

.bg_darkblue {
  background-color: #202080;
}

.bg_navy {
  background-color: #000080;
}

.bg_blend_red {
  background-color: #484032;
}

.bg_blend_green {
  background-color: #324840;
}

.bg_blend_blue {
  background-color: #324048;
}

.bg_navbar_blue {
  background-color: #2c3e50;
}

.bg_memgrey {
  background-color: #303030;
}

.bg_yellow {
  background-color: #f0f030;
}

.bg_orange {
  background-color: #b63;
}

.bg_purple {
  background-color: #f0f;
}

.bg_pink {
  background-color: #f69;
}

.bg_lightskyblue {
  background-color: #80e0ff;
}

.bo_memred {
  border-color: #f03030;
}

.bo_red {
  border-color: #ff4040;
}

.bo_memgreen {
  border-color: #308030;
}

.bo_green {
  border-color: #80ff40;
}

.bo_green2 {
  border-color: #80b040;
}

.bo_blue {
  border-color: #4080ff;
}

.bo_blue2 {
  border-color: #4080b0;
}

.bo_violet {
  border-color: #f040f0;
}

.bo_violet2 {
  border-color: #b04080;
}

.bo_black {
  border-color: black;
}

.bo_white {
  border-color: white;
}

.bo_litegray {
  border-color: #808080;
}

.bo_darkgray {
  border-color: #404040;
}

.bo_neonred {
  border-color: #ff2020;
}

.bo_neongreen {
  border-color: #40ff40;
}

.bo_neonblue {
  border-color: #4040ff;
}

.bo_darkred {
  border-color: #802020;
}

.bo_darkgreen {
  border-color: #208020;
}

.bo_darkblue {
  border-color: #202080;
}

.bo_navy {
  border-color: #000080;
}

.bo_blend_red {
  border-color: #484032;
}

.bo_blend_green {
  border-color: #324840;
}

.bo_blend_blue {
  border-color: #324048;
}

.bo_navbar_blue {
  border-color: #2c3e50;
}

.bo_memgrey {
  border-color: #303030;
}

.bo_yellow {
  border-color: #f0f030;
}

.bo_orange {
  border-color: #b63;
}

.bo_purple {
  border-color: #f0f;
}

.bo_pink {
  border-color: #f69;
}

.bo_lightskyblue {
  border-color: #80e0ff;
}

html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

.p0 {
  padding: 0;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.pt0 {
  padding-top: 0;
}

.pb0 {
  padding-bottom: 0;
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}

.py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pq {
  padding: 0.25rem;
}

.plq {
  padding-left: 0.25rem;
}

.prq {
  padding-right: 0.25rem;
}

.ptq {
  padding-top: 0.25rem;
}

.pbq {
  padding-bottom: 0.25rem;
}

.pxq {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.pyq {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.ph {
  padding: 0.5rem;
}

.plh {
  padding-left: 0.5rem;
}

.prh {
  padding-right: 0.5rem;
}

.pth {
  padding-top: 0.5rem;
}

.pbh {
  padding-bottom: 0.5rem;
}

.pxh {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pyh {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p3q {
  padding: 0.75rem;
}

.pl3q {
  padding-left: 0.75rem;
}

.pr3q {
  padding-right: 0.75rem;
}

.pt3q {
  padding-top: 0.75rem;
}

.pb3q {
  padding-bottom: 0.75rem;
}

.px3q {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py3q {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p1 {
  padding: 1rem;
}

.pl1 {
  padding-left: 1rem;
}

.pr1 {
  padding-right: 1rem;
}

.pt1 {
  padding-top: 1rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p1q {
  padding: 1.25rem;
}

.pl1q {
  padding-left: 1.25rem;
}

.pr1q {
  padding-right: 1.25rem;
}

.pt1q {
  padding-top: 1.25rem;
}

.pb1q {
  padding-bottom: 1.25rem;
}

.px1q {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py1q {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p1h {
  padding: 1.5rem;
}

.pl1h {
  padding-left: 1.5rem;
}

.pr1h {
  padding-right: 1.5rem;
}

.pt1h {
  padding-top: 1.5rem;
}

.pb1h {
  padding-bottom: 1.5rem;
}

.px1h {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py1h {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p2 {
  padding: 2rem;
}

.pl2 {
  padding-left: 2rem;
}

.pr2 {
  padding-right: 2rem;
}

.pt2 {
  padding-top: 2rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.px2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p2h {
  padding: 2.5rem;
}

.pl2h {
  padding-left: 2.5rem;
}

.pr2h {
  padding-right: 2.5rem;
}

.pt2h {
  padding-top: 2.5rem;
}

.pb2h {
  padding-bottom: 2.5rem;
}

.px2h {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py2h {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p3 {
  padding: 3rem;
}

.pl3 {
  padding-left: 3rem;
}

.pr3 {
  padding-right: 3rem;
}

.pt3 {
  padding-top: 3rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.px3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p4 {
  padding: 4rem;
}

.pl4 {
  padding-left: 4rem;
}

.pr4 {
  padding-right: 4rem;
}

.pt4 {
  padding-top: 4rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.px4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.p5 {
  padding: 5rem;
}

.pl5 {
  padding-left: 5rem;
}

.pr5 {
  padding-right: 5rem;
}

.pt5 {
  padding-top: 5rem;
}

.pb5 {
  padding-bottom: 5rem;
}

.px5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.p6 {
  padding: 6rem;
}

.pl6 {
  padding-left: 6rem;
}

.pr6 {
  padding-right: 6rem;
}

.pt6 {
  padding-top: 6rem;
}

.pb6 {
  padding-bottom: 6rem;
}

.px6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.m0 {
  margin: 0;
}

.ml0 {
  margin-left: 0;
}

.mr0 {
  margin-right: 0;
}

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mx0 {
  margin-left: 0;
  margin-right: 0;
}

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mq {
  margin: 0.25rem;
}

.mlq {
  margin-left: 0.25rem;
}

.mrq {
  margin-right: 0.25rem;
}

.mtq {
  margin-top: 0.25rem;
}

.mbq {
  margin-bottom: 0.25rem;
}

.mxq {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.myq {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mh {
  margin: 0.5rem;
}

.mlh {
  margin-left: 0.5rem;
}

.mrh {
  margin-right: 0.5rem;
}

.mth {
  margin-top: 0.5rem;
}

.mbh {
  margin-bottom: 0.5rem;
}

.mxh {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.myh {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m3q {
  margin: 0.75rem;
}

.ml3q {
  margin-left: 0.75rem;
}

.mr3q {
  margin-right: 0.75rem;
}

.mt3q {
  margin-top: 0.75rem;
}

.mb3q {
  margin-bottom: 0.75rem;
}

.mx3q {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my3q {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m1 {
  margin: 1rem;
}

.ml1 {
  margin-left: 1rem;
}

.mr1 {
  margin-right: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mx1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m1q {
  margin: 1.25rem;
}

.ml1q {
  margin-left: 1.25rem;
}

.mr1q {
  margin-right: 1.25rem;
}

.mt1q {
  margin-top: 1.25rem;
}

.mb1q {
  margin-bottom: 1.25rem;
}

.mx1q {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my1q {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m1h {
  margin: 1.5rem;
}

.ml1h {
  margin-left: 1.5rem;
}

.mr1h {
  margin-right: 1.5rem;
}

.mt1h {
  margin-top: 1.5rem;
}

.mb1h {
  margin-bottom: 1.5rem;
}

.mx1h {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my1h {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m2 {
  margin: 2rem;
}

.ml2 {
  margin-left: 2rem;
}

.mr2 {
  margin-right: 2rem;
}

.mt2 {
  margin-top: 2rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mx2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m2h {
  margin: 2.5rem;
}

.ml2h {
  margin-left: 2.5rem;
}

.mr2h {
  margin-right: 2.5rem;
}

.mt2h {
  margin-top: 2.5rem;
}

.mb2h {
  margin-bottom: 2.5rem;
}

.mx2h {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my2h {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.m3 {
  margin: 3rem;
}

.ml3 {
  margin-left: 3rem;
}

.mr3 {
  margin-right: 3rem;
}

.mt3 {
  margin-top: 3rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mx3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m4 {
  margin: 4rem;
}

.ml4 {
  margin-left: 4rem;
}

.mr4 {
  margin-right: 4rem;
}

.mt4 {
  margin-top: 4rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mx4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.m5 {
  margin: 5rem;
}

.ml5 {
  margin-left: 5rem;
}

.mr5 {
  margin-right: 5rem;
}

.mt5 {
  margin-top: 5rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.mx5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.m6 {
  margin: 6rem;
}

.ml6 {
  margin-left: 6rem;
}

.mr6 {
  margin-right: 6rem;
}

.mt6 {
  margin-top: 6rem;
}

.mb6 {
  margin-bottom: 6rem;
}

.mx6 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.my6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.f0 {
  font-size: 0;
}

.fq {
  font-size: 0.25rem;
}

.fh {
  font-size: 0.5rem;
}

.f3q {
  font-size: 0.75rem;
}

.f1 {
  font-size: 1rem;
}

.f1q {
  font-size: 1.25rem;
}

.f1h {
  font-size: 1.5rem;
}

.f2 {
  font-size: 2rem;
}

.f2h {
  font-size: 2.5rem;
}

.f3 {
  font-size: 3rem;
}

.f4 {
  font-size: 4rem;
}

.f5 {
  font-size: 5rem;
}

.f6 {
  font-size: 6rem;
}

.bow0 {
  border-width: 0;
}

.bowx0 {
  border-left-width: 0;
  border-right-width: 0;
}

.bowy0 {
  border-top-width: 0;
  border-bottom-width: 0;
}

.bora0 {
  border-radius: 0;
}

.bowq {
  border-width: 0.25rem;
}

.bowxq {
  border-left-width: 0.25rem;
  border-right-width: 0.25rem;
}

.bowyq {
  border-top-width: 0.25rem;
  border-bottom-width: 0.25rem;
}

.boraq {
  border-radius: 0.25rem;
}

.bowh {
  border-width: 0.5rem;
}

.bowxh {
  border-left-width: 0.5rem;
  border-right-width: 0.5rem;
}

.bowyh {
  border-top-width: 0.5rem;
  border-bottom-width: 0.5rem;
}

.borah {
  border-radius: 0.5rem;
}

.bow3q {
  border-width: 0.75rem;
}

.bowx3q {
  border-left-width: 0.75rem;
  border-right-width: 0.75rem;
}

.bowy3q {
  border-top-width: 0.75rem;
  border-bottom-width: 0.75rem;
}

.bora3q {
  border-radius: 0.75rem;
}

.bow1 {
  border-width: 1rem;
}

.bowx1 {
  border-left-width: 1rem;
  border-right-width: 1rem;
}

.bowy1 {
  border-top-width: 1rem;
  border-bottom-width: 1rem;
}

.bora1 {
  border-radius: 1rem;
}

.bow1q {
  border-width: 1.25rem;
}

.bowx1q {
  border-left-width: 1.25rem;
  border-right-width: 1.25rem;
}

.bowy1q {
  border-top-width: 1.25rem;
  border-bottom-width: 1.25rem;
}

.bora1q {
  border-radius: 1.25rem;
}

.bow1h {
  border-width: 1.5rem;
}

.bowx1h {
  border-left-width: 1.5rem;
  border-right-width: 1.5rem;
}

.bowy1h {
  border-top-width: 1.5rem;
  border-bottom-width: 1.5rem;
}

.bora1h {
  border-radius: 1.5rem;
}

.bow2 {
  border-width: 2rem;
}

.bowx2 {
  border-left-width: 2rem;
  border-right-width: 2rem;
}

.bowy2 {
  border-top-width: 2rem;
  border-bottom-width: 2rem;
}

.bora2 {
  border-radius: 2rem;
}

.bow2h {
  border-width: 2.5rem;
}

.bowx2h {
  border-left-width: 2.5rem;
  border-right-width: 2.5rem;
}

.bowy2h {
  border-top-width: 2.5rem;
  border-bottom-width: 2.5rem;
}

.bora2h {
  border-radius: 2.5rem;
}

.bow3 {
  border-width: 3rem;
}

.bowx3 {
  border-left-width: 3rem;
  border-right-width: 3rem;
}

.bowy3 {
  border-top-width: 3rem;
  border-bottom-width: 3rem;
}

.bora3 {
  border-radius: 3rem;
}

.bow4 {
  border-width: 4rem;
}

.bowx4 {
  border-left-width: 4rem;
  border-right-width: 4rem;
}

.bowy4 {
  border-top-width: 4rem;
  border-bottom-width: 4rem;
}

.bora4 {
  border-radius: 4rem;
}

.bow5 {
  border-width: 5rem;
}

.bowx5 {
  border-left-width: 5rem;
  border-right-width: 5rem;
}

.bowy5 {
  border-top-width: 5rem;
  border-bottom-width: 5rem;
}

.bora5 {
  border-radius: 5rem;
}

.bow6 {
  border-width: 6rem;
}

.bowx6 {
  border-left-width: 6rem;
  border-right-width: 6rem;
}

.bowy6 {
  border-top-width: 6rem;
  border-bottom-width: 6rem;
}

.bora6 {
  border-radius: 6rem;
}

div.prompt {
  padding: 1vmin;
  padding-bottom: 2vmin;
  position: fixed;
  left: 30vmin;
  top: 30vh;
  z-index: 3;
  width: 75vmin;
  min-height: 40vmin;
  background-color: #108020;
  border: 0.5vmin solid black;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

div.prompt-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

div.close {
  padding: 1vmin;
  display: flex;
  flex-direction: row-reverse;
}

button.choice {
  padding: 0.5vmin;
  font-size: 5vmin;
  font-weight: bold;
  margin: 0.2rem;
  cursor: pointer;
}

@media screen and (max-aspect-ratio: 1/1) {
  div.prompt {
    top: 40vh;
    left: 10vmin;
    top: 30vh;
  }
}
.clubs_2 {
  background: url("/images/cards/clubs_2.svg");
}

.clubs_3 {
  background: url("/images/cards/clubs_3.svg");
}

.clubs_4 {
  background: url("/images/cards/clubs_4.svg");
}

.clubs_5 {
  background: url("/images/cards/clubs_5.svg");
}

.clubs_6 {
  background: url("/images/cards/clubs_6.svg");
}

.clubs_7 {
  background: url("/images/cards/clubs_7.svg");
}

.clubs_8 {
  background: url("/images/cards/clubs_8.svg");
}

.clubs_9 {
  background: url("/images/cards/clubs_9.svg");
}

.clubs_10 {
  background: url("/images/cards/clubs_10.svg");
}

.clubs_J {
  background: url("/images/cards/clubs_jack.svg");
}

.clubs_Q {
  background: url("/images/cards/clubs_queen.svg");
}

.clubs_K {
  background: url("/images/cards/clubs_king.svg");
}

.clubs_A {
  background: url("/images/cards/clubs_ace.svg");
}

/*# sourceMappingURL=index.css.map */
