html {
  font-size: 16px;
}

.p0 {
  padding: 0;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.pt0 {
  padding-top: 0;
}

.pb0 {
  padding-bottom: 0;
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}

.py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pq {
  padding: 0.25rem;
}

.plq {
  padding-left: 0.25rem;
}

.prq {
  padding-right: 0.25rem;
}

.ptq {
  padding-top: 0.25rem;
}

.pbq {
  padding-bottom: 0.25rem;
}

.pxq {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.pyq {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.ph {
  padding: 0.5rem;
}

.plh {
  padding-left: 0.5rem;
}

.prh {
  padding-right: 0.5rem;
}

.pth {
  padding-top: 0.5rem;
}

.pbh {
  padding-bottom: 0.5rem;
}

.pxh {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pyh {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p3q {
  padding: 0.75rem;
}

.pl3q {
  padding-left: 0.75rem;
}

.pr3q {
  padding-right: 0.75rem;
}

.pt3q {
  padding-top: 0.75rem;
}

.pb3q {
  padding-bottom: 0.75rem;
}

.px3q {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py3q {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p1 {
  padding: 1rem;
}

.pl1 {
  padding-left: 1rem;
}

.pr1 {
  padding-right: 1rem;
}

.pt1 {
  padding-top: 1rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p1q {
  padding: 1.25rem;
}

.pl1q {
  padding-left: 1.25rem;
}

.pr1q {
  padding-right: 1.25rem;
}

.pt1q {
  padding-top: 1.25rem;
}

.pb1q {
  padding-bottom: 1.25rem;
}

.px1q {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py1q {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p1h {
  padding: 1.5rem;
}

.pl1h {
  padding-left: 1.5rem;
}

.pr1h {
  padding-right: 1.5rem;
}

.pt1h {
  padding-top: 1.5rem;
}

.pb1h {
  padding-bottom: 1.5rem;
}

.px1h {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py1h {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p2 {
  padding: 2rem;
}

.pl2 {
  padding-left: 2rem;
}

.pr2 {
  padding-right: 2rem;
}

.pt2 {
  padding-top: 2rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.px2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p2h {
  padding: 2.5rem;
}

.pl2h {
  padding-left: 2.5rem;
}

.pr2h {
  padding-right: 2.5rem;
}

.pt2h {
  padding-top: 2.5rem;
}

.pb2h {
  padding-bottom: 2.5rem;
}

.px2h {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py2h {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p3 {
  padding: 3rem;
}

.pl3 {
  padding-left: 3rem;
}

.pr3 {
  padding-right: 3rem;
}

.pt3 {
  padding-top: 3rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.px3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p4 {
  padding: 4rem;
}

.pl4 {
  padding-left: 4rem;
}

.pr4 {
  padding-right: 4rem;
}

.pt4 {
  padding-top: 4rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.px4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.p5 {
  padding: 5rem;
}

.pl5 {
  padding-left: 5rem;
}

.pr5 {
  padding-right: 5rem;
}

.pt5 {
  padding-top: 5rem;
}

.pb5 {
  padding-bottom: 5rem;
}

.px5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.p6 {
  padding: 6rem;
}

.pl6 {
  padding-left: 6rem;
}

.pr6 {
  padding-right: 6rem;
}

.pt6 {
  padding-top: 6rem;
}

.pb6 {
  padding-bottom: 6rem;
}

.px6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.m0 {
  margin: 0;
}

.ml0 {
  margin-left: 0;
}

.mr0 {
  margin-right: 0;
}

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mx0 {
  margin-left: 0;
  margin-right: 0;
}

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mq {
  margin: 0.25rem;
}

.mlq {
  margin-left: 0.25rem;
}

.mrq {
  margin-right: 0.25rem;
}

.mtq {
  margin-top: 0.25rem;
}

.mbq {
  margin-bottom: 0.25rem;
}

.mxq {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.myq {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mh {
  margin: 0.5rem;
}

.mlh {
  margin-left: 0.5rem;
}

.mrh {
  margin-right: 0.5rem;
}

.mth {
  margin-top: 0.5rem;
}

.mbh {
  margin-bottom: 0.5rem;
}

.mxh {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.myh {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m3q {
  margin: 0.75rem;
}

.ml3q {
  margin-left: 0.75rem;
}

.mr3q {
  margin-right: 0.75rem;
}

.mt3q {
  margin-top: 0.75rem;
}

.mb3q {
  margin-bottom: 0.75rem;
}

.mx3q {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my3q {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m1 {
  margin: 1rem;
}

.ml1 {
  margin-left: 1rem;
}

.mr1 {
  margin-right: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mx1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m1q {
  margin: 1.25rem;
}

.ml1q {
  margin-left: 1.25rem;
}

.mr1q {
  margin-right: 1.25rem;
}

.mt1q {
  margin-top: 1.25rem;
}

.mb1q {
  margin-bottom: 1.25rem;
}

.mx1q {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my1q {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m1h {
  margin: 1.5rem;
}

.ml1h {
  margin-left: 1.5rem;
}

.mr1h {
  margin-right: 1.5rem;
}

.mt1h {
  margin-top: 1.5rem;
}

.mb1h {
  margin-bottom: 1.5rem;
}

.mx1h {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my1h {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m2 {
  margin: 2rem;
}

.ml2 {
  margin-left: 2rem;
}

.mr2 {
  margin-right: 2rem;
}

.mt2 {
  margin-top: 2rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mx2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m2h {
  margin: 2.5rem;
}

.ml2h {
  margin-left: 2.5rem;
}

.mr2h {
  margin-right: 2.5rem;
}

.mt2h {
  margin-top: 2.5rem;
}

.mb2h {
  margin-bottom: 2.5rem;
}

.mx2h {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my2h {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.m3 {
  margin: 3rem;
}

.ml3 {
  margin-left: 3rem;
}

.mr3 {
  margin-right: 3rem;
}

.mt3 {
  margin-top: 3rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mx3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m4 {
  margin: 4rem;
}

.ml4 {
  margin-left: 4rem;
}

.mr4 {
  margin-right: 4rem;
}

.mt4 {
  margin-top: 4rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mx4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.m5 {
  margin: 5rem;
}

.ml5 {
  margin-left: 5rem;
}

.mr5 {
  margin-right: 5rem;
}

.mt5 {
  margin-top: 5rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.mx5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.m6 {
  margin: 6rem;
}

.ml6 {
  margin-left: 6rem;
}

.mr6 {
  margin-right: 6rem;
}

.mt6 {
  margin-top: 6rem;
}

.mb6 {
  margin-bottom: 6rem;
}

.mx6 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.my6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.f0 {
  font-size: 0;
}

.fq {
  font-size: 0.25rem;
}

.fh {
  font-size: 0.5rem;
}

.f3q {
  font-size: 0.75rem;
}

.f1 {
  font-size: 1rem;
}

.f1q {
  font-size: 1.25rem;
}

.f1h {
  font-size: 1.5rem;
}

.f2 {
  font-size: 2rem;
}

.f2h {
  font-size: 2.5rem;
}

.f3 {
  font-size: 3rem;
}

.f4 {
  font-size: 4rem;
}

.f5 {
  font-size: 5rem;
}

.f6 {
  font-size: 6rem;
}

.bow0 {
  border-width: 0;
}

.bowx0 {
  border-left-width: 0;
  border-right-width: 0;
}

.bowy0 {
  border-top-width: 0;
  border-bottom-width: 0;
}

.bowq {
  border-width: 0.25rem;
}

.bowxq {
  border-left-width: 0.25rem;
  border-right-width: 0.25rem;
}

.bowyq {
  border-top-width: 0.25rem;
  border-bottom-width: 0.25rem;
}

.bowh {
  border-width: 0.5rem;
}

.bowxh {
  border-left-width: 0.5rem;
  border-right-width: 0.5rem;
}

.bowyh {
  border-top-width: 0.5rem;
  border-bottom-width: 0.5rem;
}

.bow3q {
  border-width: 0.75rem;
}

.bowx3q {
  border-left-width: 0.75rem;
  border-right-width: 0.75rem;
}

.bowy3q {
  border-top-width: 0.75rem;
  border-bottom-width: 0.75rem;
}

.bow1 {
  border-width: 1rem;
}

.bowx1 {
  border-left-width: 1rem;
  border-right-width: 1rem;
}

.bowy1 {
  border-top-width: 1rem;
  border-bottom-width: 1rem;
}

.bow1q {
  border-width: 1.25rem;
}

.bowx1q {
  border-left-width: 1.25rem;
  border-right-width: 1.25rem;
}

.bowy1q {
  border-top-width: 1.25rem;
  border-bottom-width: 1.25rem;
}

.bow1h {
  border-width: 1.5rem;
}

.bowx1h {
  border-left-width: 1.5rem;
  border-right-width: 1.5rem;
}

.bowy1h {
  border-top-width: 1.5rem;
  border-bottom-width: 1.5rem;
}

.bow2 {
  border-width: 2rem;
}

.bowx2 {
  border-left-width: 2rem;
  border-right-width: 2rem;
}

.bowy2 {
  border-top-width: 2rem;
  border-bottom-width: 2rem;
}

.bow2h {
  border-width: 2.5rem;
}

.bowx2h {
  border-left-width: 2.5rem;
  border-right-width: 2.5rem;
}

.bowy2h {
  border-top-width: 2.5rem;
  border-bottom-width: 2.5rem;
}

.bow3 {
  border-width: 3rem;
}

.bowx3 {
  border-left-width: 3rem;
  border-right-width: 3rem;
}

.bowy3 {
  border-top-width: 3rem;
  border-bottom-width: 3rem;
}

.bow4 {
  border-width: 4rem;
}

.bowx4 {
  border-left-width: 4rem;
  border-right-width: 4rem;
}

.bowy4 {
  border-top-width: 4rem;
  border-bottom-width: 4rem;
}

.bow5 {
  border-width: 5rem;
}

.bowx5 {
  border-left-width: 5rem;
  border-right-width: 5rem;
}

.bowy5 {
  border-top-width: 5rem;
  border-bottom-width: 5rem;
}

.bow6 {
  border-width: 6rem;
}

.bowx6 {
  border-left-width: 6rem;
  border-right-width: 6rem;
}

.bowy6 {
  border-top-width: 6rem;
  border-bottom-width: 6rem;
}

/*# sourceMappingURL=sizes.css.map */
